@import "/styles/mixins/colors.scss";
@import "/styles/mixins/padding.scss";

.container {
    @include Padding;
    padding-bottom: 200px;
    background-image: url("/images/fundoWelcome.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-content: space-between;
    gap: 150px;
}

.texts {
    h2 {
        font-size: 65px;
        font-weight: bold;
    }
    span {
        font-size: 30px;
        font-weight: 500;
        color: $green2-color;
    }
    p {
        font-size: 30px;
        font-weight: 300;
        opacity: 0.7;
    }
}

.form {
    padding: 38px 31px;
    background-color: $white-color;
    border: 0.5px solid $gray3-color;
    border-radius: 10px;

    display: grid;

    h2 {
        font-size: 35px;
        font-weight: bold;
        color: $purple-color;
    }

    form {
        display: grid;
        gap: 23px;
    }
}