@import "/styles/mixins/colors.scss";
@import "/styles/mixins/padding.scss";
@import "/styles/mixins/responsive.scss";
@import "/styles/mixins/fonts.scss";

.container {
    @include Padding;
    color: $white-color;
    padding-top: 72px;
    width: 100%;
    background-color: $purple3-color;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include Phone {
        grid-template-columns: 1fr;
        padding-top: 1rem;
        gap: 1rem;
    }
}


.column {

    margin-top: 4.5rem;

    &.columnPrincipal {
        margin-top: 0px;
    }

    .title {
        @include SizeNormal;
        color: $white-color;
    }

    h2 {
        @include SizeSmall;
        color: $green2-color;
    }

    p {
        @include SizeSmall;
    }

    &.alignRight {
        text-align: right;
    }

    .icons {
        display: inline-grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        align-items: center;
        justify-content: center;

        @include Phone {
            img {
                width: 2rem;
            }
        }
    }

    @include Phone {
        margin-top: 0px;
        &.alignRight {
            text-align: left;
        }
    }
}

.allRightReserved {
    padding: 6rem 0 1rem;
    @include SizeSmall;
    color: $gray-color;
    grid-column: span 4;
    text-align: center;

    @include Phone {
        grid-column: 1;
        padding: 1rem 0 1rem;
    }
}